@use '../../../styles/abstracts' as *;
.rowContent {
  padding: 0;
  margin-top: 10rem;
  overflow-x: hidden;
}

.slider {
  padding: 0 4%;
  overflow-x: visible;
  margin: 0;
  z-index: 2;
  position: relative;

  @include respond(big-desktop) {
    padding: 0 60px;
  }
  &__mask {
    overflow-x: visible;
    padding-bottom: 1px;
  }
  &__content {
    white-space: nowrap;
  }
  &__next,
  &__prev {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    background: hsla(0, 0%, 8%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }
    &:hover {
      background: hsla(0, 0%, 8%, 0.7);
    }
  }
  &__next {
    right: 0;
  }
  &__prev {
    left: 0;
  }
  &__indicatorIcon {
    // display: none;
    transition: all 1.3s;
    align-self: center;
  }
  &__item {
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    @include respond(phone) {
      width: 33.333333%;
    }
    @include respond(tablet) {
      width: 25%;
    }
    @include respond(normal-desktop) {
      width: 20%;
    }
    @include respond(big-desktop) {
      width: 16.66666666666667%;
    }
  }
}
