@use '../../../styles/abstracts' as *;
.rowContent {
  padding: 0;
  margin-top: 10rem;
  overflow-x: hidden;
}
.rowContent:hover .slider .slider__next .slider__indicatorIcon {
  display: block;
  &::before {
    content: '<';
  }
}

.slider {
  padding: 0 1rem;
  overflow-x: visible;
  margin: 0;
  z-index: 2;
  position: relative;

  @include respond(big-desktop) {
    padding: 0 60px;
  }
  &__mask {
    overflow-x: visible;
    padding-bottom: 1px;
  }
  &__content {
    white-space: nowrap;
  }
  &__next {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    background: hsla(0, 0%, 8%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }

    // padding: 1px;
    // // width: 50px;
    // // height: 50px;
    // &::before {
    //   content: url('/images/arrow-right.png');

    // }
  }
  &__indicatorIcon {
    display: none;
    align-self: center;
  }
  &__item {
    width: 33.333333%;
    display: inline-block;
    position: relative;
    vertical-align: top;

    @include respond(tablet) {
      width: 25%;
    }
    @include respond(normal-desktop) {
      width: 20%;
    }
    @include respond(big-desktop) {
      width: 16.66666666666667%;
    }
  }
  &__item:first-child {
    padding-left: 0;
  }
}
