@use '../styles/abstracts' as *;

.login {
  // border-bottom: 8px solid #222;
  display: grid;
  background-color: black;
  &__imageContainer {
    display: none;
    @include respond(phone) {
      display: block;
      grid-area: 1 / 1 / span 3 / span 3;
      width: 100%;
      background-size: cover;
    }
  }
  &__image {
    width: 100%;
    height: 99.7%;
    opacity: 0.5;
  }

  &__container {
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 550px;
    display: flex;
    padding: 0 5%;
    flex-direction: column;
    grid-area: 2 / 1 / span 1 / span 3;
    margin: 0 auto;
    max-width: 450px;
    z-index: 2;
    @include respond(tablet) {
      margin-bottom: 5.5rem;
      min-height: 660px;
      padding: 60px 68px 40px;
    }
  }
  &__signup-now {
    span {
      color: #b3b3b3;
    }
    a {
      color: white;
    }
  }
}
.css-ahj2mt-MuiTypography-root {
  color: white !important;
}
.header {
  grid-area: 1 / 1 / span 1 / span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 0 20px;
  padding-bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 90px;
  z-index: 2;
  &__link {
    width: 100px;
    @include respond(tablet) {
      width: 170px;
    }
  }
  &__logo {
    margin-right: auto;
  }
  @include respond(tablet) {
    padding: 0;
    margin-left: 3%;
  }
}
.form {
  flex-grow: 1;
  &__header {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 28px;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__input-container:not(:first-child) {
    margin-top: 16px;
  }
  &__input {
    background-color: #333;
    border: 0;
    border-radius: 4px;
    width: 100%;
  }
  &__btn {
    margin: 24px 0 12px !important;
    font-weight: 700 !important;
    padding: 16px !important;
    font-size: 1rem !important;
    line-height: 1em !important;
  }

  &__error {
    margin: 0;
    text-align: initial;
    color: #ffa00a;
    font-size: 13px;
  }
}
.rememberme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b3b3b3;
}
.captcha {
  color: #8c8c8c;
  margin-top: 11px;
  font-size: 13px;
  &__checkbox {
    background-color: red;
  }
  &__learnMore {
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
  }
}
