.card {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  &__image {
    width: 100%;
  }
}

.metadata {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.name {
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 0 0 0;
  margin: 0;
}

.info {
  background-color: #2f2f2f;
  min-height: 100%;
  &__overview {
    color: #d2d2d2;
    margin: 0;
    padding: 0 1em 1em;
  }
}
