@use '../../../styles/abstracts' as *;

.title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 30px;
  margin-right: 15px;
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  top: 60px;
  @include respond(tablet) {
    height: 68px;
    padding: 0 4%;
  }
  @include respond(normal-desktop) {
    padding: 0 60px;
  }
}
