.search {
  &__gallery {
    padding: 3% 4% 0 3%;
    margin-top: 10rem;
  }
  &__noResult {
    min-height: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
  }
}
