@use '../../../styles/abstracts' as *;

.boxArt {
  border-radius: 0.2vw;
  height: 0;
  position: relative;
  width: 100%;
  padding: 28.125% 0;
  overflow: hidden;
  cursor: pointer;
  background-color: #222;
  background-image: linear-gradient(transparent, #000);
  &__image {
    position: absolute;
    top: 0;
  }
  &__title {
    font-size: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 0.1em 0.1em 0 hsl(200 20% 20%);
    width: 80%;
    margin: 0;
    white-space: initial;
    text-align: center;
    @include respond(tablet) {
      display: block;
      font-size: 12px;
    }
    @include respond(small-desktop) {
      font-size: 14px;
    }
    @include respond(normal-desktop) {
      font-size: 16px;
    }
    @include respond(big-desktop) {
      font-size: 18px;
    }
  }
}
.mediaItem {
  position: relative;
  padding: 0 0.2vw;

  color: #fff;
  &:first-child {
    padding-left: 0;
  }
}
.modalWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  will-change: scroll-position;
}
