@use '../styles/abstracts' as *;

.modalWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  will-change: scroll-position;
}
.miniModal {
  position: absolute;
}
.detailModal {
  width: 100%;
  height: 100%;
}
