@use '../../../styles/abstracts' as *;

.boxArt {
  border-radius: 0.2vw;
  height: 0;
  position: relative;
  width: 100%;
  padding: 28.125% 0;
  overflow: hidden;
  cursor: pointer;
  &__image {
    position: absolute;
    top: 0;
  }
}
.mediaItem {
  position: relative;
  padding: 0 0.2vw;
  width: 50%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  @include respond(phone) {
    width: 33.333333%;
  }
  @include respond(tablet) {
    width: 25%;
  }
  @include respond(small-desktop) {
    width: 20%;
  }
  @include respond(normal-desktop) {
    width: 16.66666666666667%;
  }
  color: #fff;
  &:first-child {
    padding-left: 0;
  }
}
