@use '../styles/abstracts' as *;

.browse {
  background-color: #141414;
  display: grid;
  overflow-x: hidden;
}
.headerWrapper {
  grid-area: 1 / 1 / span 1 / span 3;
  z-index: 999;
}
.header {
  z-index: 5;
  display: flex;
  height: 41px;
  padding: 0 4%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  &__logo-box {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
  }

  &__logo {
    width: 5rem;
    height: 100%;
    margin-top: 3px;
    @include respond(tablet) {
      width: 7rem;
    }
  }
  @include respond(tablet) {
    height: 68px;
    padding: 0 2%;
  }
  @include respond(big-desktop) {
    padding: 0 60px;
  }
}
.sticky {
  width: 100%;
  position: fixed;
  background: rgb(20, 20, 20);
  top: 0;
  left: 0;
}
.billboard {
  grid-area: 1 / 1 / span 3 / span 3;
}

.navigation {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin-left: 0.5rem;
  //   flex-direction: column;
  &__tab {
    display: none;
    @include respond(tablet) {
      display: flex;
      padding: 4px 8px !important;
      color: #e5e5e5;
      white-space: nowrap;
      //   font-weight: 500;
    }
    &--current {
      color: white;
      font-weight: 700;
    }
    &:hover {
      color: rgb(179, 179, 179);
    }
    transition: color 0.4s;
  }
  &__menu {
    display: flex;
    align-items: center;
    // position: relative;
    cursor: pointer;
    font-size: 1.2rem;
    svg {
      width: 17px;
      height: 17px;
      //   font-size: 1.2rem;
    }
    @include respond(tablet) {
      display: none !important;
    }
  }
  &__dropdown {
    position: absolute;
    left: 0;
    top: 5rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 2px solid #fff;
    &-link {
      color: white;
      white-space: nowrap;
      text-align: center;
      width: 260px;
      height: 50px;
      padding: 0;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    @include respond(tablet) {
      display: none !important;
    }
  }
  @include respond(normal-desktop) {
    flex-direction: row;
  }
}

.account {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row-reverse;
  &__image {
    border-radius: 3px;
  }
  &__menu {
    cursor: pointer;
    .account__icon {
      display: none;
      @include respond(tablet) {
        display: inline-block !important;
      }
    }
  }
  &__icon {
    color: #fff;
    margin-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
}

.search {
  display: none;
  @include respond(tablet) {
    display: block !important;
  }
}
