@use '../../../../styles/abstracts' as *;

.pulsate {
  animation-name: pulsateAnimation;
  animation-duration: 3.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  &-transparent {
    animation-name: pulsateTransparentAnimation;
  }
}

.no-pulsate {
  background-color: #333;
}

@keyframes pulsateAnimation {
  0% {
    background-color: #1a1a1a;
  }
  25% {
    background-color: #333;
  }

  50% {
    background-color: #1a1a1a;
  }

  to {
    background-color: #1a1a1a;
  }
}

@keyframes pulsateTransparentAnimation {
  0% {
    background-color: transparent;
  }

  25% {
    background-color: #333;
  }

  50% {
    background-color: transparent;
  }

  to {
    background-color: transparent;
  }
}

.loader {
  position: relative;
  display: inline-block;
  width: 50%;
  border-left: 2px solid #141414;
  border-right: 2px solid #141414;
  box-sizing: border-box;
  z-index: 999;
  @include respond(phone) {
    width: 33.333333%;
  }
  @include respond(tablet) {
    width: 25%;
  }
  @include respond(small-desktop) {
    width: 20%;
  }
  @include respond(normal-desktop) {
    width: 16.66666666666667%;
  }
}
.loader .ratio-16x9 {
  border-radius: 4px;
  padding: 27.25% 0;
}
