@use '../../../../styles/abstracts' as *;

.search {
  width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  @include respond(tablet) {
    width: 200px;
  }
  @include respond(small-desktop) {
    width: 250px;
  }
  &__icon {
    fill: #fff;
    position: absolute;
    left: 2px;
  }
  &__input {
    border: 1px solid #fff;
    padding: 5px;
    width: 100%;
    background-color: #000;
    padding-left: 2rem;
    color: white;
    font-size: 1.3rem;
    @include respond(small-desktop) {
      font-size: 1.3rem;
    }
    &:focus {
      outline: none;
    }
  }
  &__clear {
    position: absolute;
    right: 0.2rem;
    top: 0;
    width: 15px;
    color: #fff;
    cursor: pointer;
  }
}
