.genreWrapper {
  display: flex;
  color: #fff;
  align-items: center;
}
.type {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 30px;
  margin-right: 15px;
  &__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: gray;
  }
}
.breadcrumbIcon {
  display: flex;
  color: gray;
  margin: 0 5px;
}
.genreLabel {
  color: white;
}
.menu {
  display: table-cell;
  margin: 0 !important;
  padding: 5px 10px !important;
  &__item {
    cursor: default;
    display: block;
    line-height: 24px;
  }
  &__link {
    padding: 1px 20px 1px 10px;
  }
}
