@use '../../../styles/abstracts' as *;

.card {
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  border-radius: 6px;
  position: relative;
  background-color: #181818;
  opacity: 1;
  width: 100%;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

.visible {
  opacity: 1;
  z-index: 1;
}
.video-js .vjs-control-text {
  display: none;
}
.soundBtn {
  position: absolute;
  bottom: 13rem;
  right: 1rem;
  opacity: 0.5;
  z-index: 5;
  &:hover {
    opacity: 1;
  }
}
.netflixIcon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 24px;
  height: 24px;
  z-index: 5;
}
