@use '../../../styles/abstracts' as *;

.billboardRow {
  grid-area: 1/1 / span 1 / span 3;
  background-color: #000;
  padding-bottom: 43%;
  margin-bottom: 20px;
}

.billboard {
  background-color: #000;
  height: 56.25vw;
  position: absolute;
  width: 100vw;

  &__image {
    width: 100%;
  }

  &__gradient {
    position: absolute;
    right: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 8%, 0) 0,
      hsla(0, 0%, 8%, 0.15) 15%,
      hsla(0, 0%, 8%, 0.35) 29%,
      hsla(0, 0%, 8%, 0.58) 44%,
      #141414 68%,
      #141414
    );
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 17.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
  }
}
.info {
  position: absolute;
  top: 15rem;
  left: 60px;
  z-index: 3;
  width: 36%;
  color: white;
  font-size: 24px;
  font-weight: 500;
  &__fantcyTitle {
    font-size: 48px;
    font-weight: 900;
    width: 250px;
    font-family: Dank Mono;
  }
  &__icon {
    margin-right: 0.5rem;
    font-size: 3rem;
  }
  &__actions {
    margin-top: 1.5vw;
  }
}
.colorPrimary {
  color: #000;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 2.4rem;
  &:hover {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
.gray {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 2.4rem;
  background-color: rgba(109, 109, 110, 0.7);
  &:hover {
    background-color: rgba(109, 109, 110, 0.2);
  }
}
.actions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 35%;
  z-index: 555;
  right: 0;
  &__maturity {
    align-items: center;
    background-color: rgba(51, 51, 51, 0.6);
    border: 3px #dcdcdc;
    border-left-style: solid;
    box-sizing: border-box;
    display: flex;
    font-size: 1.1vw;
    height: 2.4vw;
    padding: 0.5vw 3.5vw 0.5vw 0.8vw;
    margin-left: 1.1vw;
    // @include respond(tablet) {
    //   height: 2.4vw;
    // }
    // @include respond(normal-desktop) {
    //   height: 1.4vw;
    // }
  }
  &__maturityRating {
    color: white;
    font-weight: 900;
    border: 3px solid white;
    border-radius: 50%;
    padding: 0.3rem;
    background-color: #000;
    font-size: 12px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tablet) {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
    @include respond(normal-desktop) {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
    @include respond(big-desktop) {
      font-size: 24px;
      width: 30px;
      height: 30px;
    }
    // @include respond(tablet) {
    //   font-size: 16px;
    //   width: 20px;
    //   height: 20px;
    // }
    // @include respond(normal-desktop) {
    //   font-size: 20px;
    //   width: 30px;
    //   height: 30px;
    // }
  }
}
.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
