@use '../../../styles/abstracts' as *;

.videojsref {
  width: 100%;
  object-fit: cover;
  padding-bottom: 56.25%;
  height: 0;
}
.vjs-card {
  width: 100%;
  display: inline-block;
}

.vjs-billboard {
  width: 100%;
  position: absolute;
  top: -6rem;
  height: calc(100% + 72px);
  object-fit: fill;
  @include respond(tablet) {
    top: -7rem;

    height: calc(100% + 82px);
  }
  @include respond(normal-desktop) {
    top: -11rem;

    height: calc(100% + 110px);
  }
  @include respond(normal-desktop) {
    top: -12rem;

    height: calc(100% + 130px);
  }
}

video.vjs-tech {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
