@use '../../../../styles/abstracts' as *;

.subHeader {
  padding: 0 4%;
  position: absolute;
  top: 41px;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  @include respond(tablet) {
    height: 68px;
    padding: 0 4%;
    top: 68px;
  }
  @include respond(normal-desktop) {
    padding: 0 60px;
  }
}
