@use '../../../styles/abstracts' as *;
.sliderContainer {
  padding: 0;
  z-index: 3;
}
.row {
  z-index: 3;
  position: relative;
}
.sliderContent {
  margin: 3vw 0;
}
.rowContent {
  padding: 0;
  width: 100vw; // this is for preventing width change on y scroll bar toggle
}

.title {
  color: #e5e5e5;
  display: inline-block;
  font-size: 1.4vw;
  font-weight: 500;
  margin: 0 4% 0.5em;
  min-width: 6em;
  text-decoration: none;
  @include respond(normal-desktop) {
    margin-left: 60px;
  }
  &__header {
    color: #fff;
    display: table-cell;
    font-size: 1rem;
    line-height: 1.25vw;
    vertical-align: bottom;
    @include respond(tablet) {
      font-size: 1.6rem;
    }
  }
}
.slider {
  padding: 0 4%;
  overflow-x: visible;
  margin: 0;
  z-index: 2;
  position: relative;

  @include respond(normal-desktop) {
    padding: 0 60px;
  }
  &__mask {
    overflow-x: visible;
    padding-bottom: 1px;
  }
  &__content {
    white-space: nowrap;
  }
  &__next,
  &__prev {
    position: absolute;
    top: 0;
    width: 4%;
    height: 100%;
    color: #fff;
    background: hsla(0, 0%, 8%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }
    &:hover {
      background: hsla(0, 0%, 8%, 0.7);
    }
    @include respond(normal-desktop) {
      width: 60px;
    }
  }
  &__next {
    right: 0;
  }
  &__prev {
    left: 0;
  }
  &__indicatorIcon {
    // display: none;
    transition: all 0.5s;
    align-self: center;
  }
  &__pagination {
    display: block;

    @include respond(normal-desktop) {
      right: 62px;
    }
    list-style-type: none;
    margin: -24px 0 12px !important;
    padding: 0;
    position: absolute;
    right: 4%;
    top: 0;

    li {
      background-color: #4d4d4d;
      display: inline-block;
      height: 2px;
      margin-left: 1px;
      width: 12px;
    }
    .active {
      background-color: #aaa !important;
    }
  }
  &__item {
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    @include respond(phone) {
      width: 33.333333%;
    }
    @include respond(tablet) {
      width: 25%;
    }
    @include respond(small-desktop) {
      width: 20%;
    }
    @include respond(normal-desktop) {
      width: 16.66666666666667%;
    }
  }
}
.animating {
  pointer-events: none;
  transition: transform 0.75s ease 0s;
}
